.textError{
    border-color: crimson;
    border-width: 1px;
    border-style: solid;
    background-color: mistyrose;
}
.textWarning{
    border-color: darkorange;
    border-width: 1px;
    border-style: solid;
    background-color: yellow;
}